spring:
  application:
    name: onsquad
  profiles:
    default: local

  sql:
    init:
      mode: always
      platform: h2
      data-locations: classpath:db/${spring.sql.init.platform}/*-${spring.sql.init.platform}.sql

  datasource:
    url: jdbc:h2:tcp://localhost/~/onsquad;MODE=MySQL
    username: sa
    password:
    driver-class-name: org.h2.Driver

  sqlite-datasource:
    driver-class-name: org.sqlite.JDBC
    url: jdbc:sqlite:temp-data.db
    username: admin
    password: admin

  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: false
  #        default_batch_fetch_size: 100

  data:
    web:
      pageable:
        one-indexed-parameters: true
        default-page-size: 10
        max-page-size: 100
    redis:
      repositories:
        enabled: false

  mail:
    code-seed: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    verification-code-backup-path: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
    host: ccccccccccc
    port: 123
    username: dummy-user-name
    password: dummy-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
      auth-code-expiration-millis: 300000

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 20MB
      resolve-lazily: true

server:
  tomcat:
    mbeanregistry:
      enabled: true
  error:
    whitelabel:
      enabled: false
    include-exception: false
    include-message: never
    include-stacktrace: never
    include-binding-errors: never
  port: 8080

management:
  server:
    port: 9097
  endpoint:
    health:
      show-components: always
  info:
    java.enabled: true
    env.enabled: true
    os.enabled: true
  endpoints:
    web:
      base-path: /metadata
      exposure:
        include: metrics, info, http-exchanges, prometheus, health

logging:
  level:
    org:
      springframework.jdbc: DEBUG
      hibernate.SQL: DEBUG
      hibernate.orm.jdbc.bind: DEBUG
      springframework.transaction.interceptor: TRACE
      springframework.jdbc.datasource.DataSourceTransactionManager: DEBUG
      springframework.orm.jpa.JpaTransactionManager: DEBUG
    revi1337:
      onsquad:
        DEBUG

onsquad:
  frontend-base-url: frontend-base-url

  token:
    backup-path: token-backup-path
    access-token-attributes:
      token-attributes:
        expired: 365d
        secret-key: secret-key
    refresh-token-attributes:
      token-attributes:
        expired: 365d
        secret-key: secret-key

  oauth2:
    clients:
      kakao:
        client-name: ${spring.application.name}
        client-id: kakao-client-id
        client-secret: kakao-client-secret

        issuer-uri: https://kauth.kakao.com
        authorization-uri: https://kauth.kakao.com/oauth/authorize
        response_type: code
        redirect-uri: /api/login/oauth2/code/kakao

        token-uri: https://kauth.kakao.com/oauth/token
        grant-type: authorization_code

        account-uri: https://kapi.kakao.com/v2/user/me
        user-info-uri: https://kapi.kakao.com/v1/oidc/userinfo

      google:
        client-name: ${spring.application.name}
        client-id: google-client-id
        client-secret: google-client-secret

        issuer-uri: https://accounts.google.com
        authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
        response_type: code
        redirect-uri: /api/login/oauth2/code/google

        token-uri: https://oauth2.googleapis.com/token
        grant-type: authorization_code

        account-uri: https://www.googleapis.com/oauth2/v1/userinfo
        scope:
          - email: https://www.googleapis.com/auth/userinfo.email
          - profile: https://www.googleapis.com/auth/userinfo.profile

  discord:
    webhook:
      alert:
        aws: https://discord.com/api/webhooks/web-hook-url
        apply-score: https://discord.com/api/webhooks/web-hook-url
  
  aws:
    cloud-front:
      base-domain: cloudfront-base-domain
      region: region
      distribution-id: distribution-id
    s3:
      delete-batch-cron: 0 0 0 * * *
      access-key: s3-access-key
      secret-key: s3-secret-key
      bucket: dummy-bucket
      region: ap-northeast-2
      directory:
        root: root-dir
        directories:
          crew-directory: crew-dir
          squad-directory: squad-dir
          member-directory: member-dir

  api:
    crew-rank-members:
      during: 7d
      rank-limit: 5
      schedule:
        expression:
          0 0 0 * * 1
