//===== Request Headers
.Request Headers
|===
|Header Name|Description|Required

{{#headers}}
    |{{#tableCellContent}}`{{name}}`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{^optional}}true{{/optional}}{{#optional}}false{{/optional}}{{/tableCellContent}}
{{/headers}}
|===
